@keyframes arrowExitEnter {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(20px);
    opacity: 0;
  }
  70% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}