
@include min(992){
  .custom-cursor {
      position: absolute;
      pointer-events: none;
      width: 35px; 
      height: 35px;
      background-image: url("../images/icons/cursortheme.webp"); 
      box-shadow: 0px 0px 80px 0px rgb(44 211 234);
      background-size: cover;
      z-index: 9999; 
      border-radius: 50%;
    }
}
@include min(1200){
  .custom-cursor{
      width: 40px; 
      height: 40px;
  }
 
}
@include min(1600){
  .custom-cursor{
      width: 50px; 
      height: 50px;
  }

}
@include min(1900){
  .custom-cursor{
      width: 60px; 
      height: 60px;
  }

}