
.leftFixedBox {
    position: fixed;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 1.9%;
    top: 77%;
    z-index: 10000;
    gap: 22.53px;
  >div:first-child{
    img{
      animation: pulse 2s infinite;

    }
  }
    @media (max-width: 991px) {
      display: none;
    }
    .dropdown-toggle {
      &.iconBox {
        margin-bottom: 0;
        margin-bottom: 0;
      }
    }
    .iconBox {
       border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0px;
      background: $secondaryColor;
      width: 40px;
      height: 40px;
      @include min(768){
        width: 48px;
        height: 48px;
      }
      @include min(992){
        width: 50px;
        height: 50px;
      }
      @include min(1200){
        width: 52px;
        height: 52px;
      }
      @include min(1360){
        width: 54px;
        height: 54px;
      }
      @include min(1440){
        width: 56px;
        height: 56px;
      }
      @include min(1600){
        width: 58px;
        height: 58px;
      }
      @include min(1900){
        width: 60px;
        height: 60px;
      }
     
      
      img {
        height: auto;
        width: 40px;
        @include min(768){
          width: 48px;
        }
        @include min(992){
          width: 50px;
        }
        @include min(1200){
          width: 52px;
        }
        @include min(1360){
          width: 54px;
        }
        @include min(1440){
          width: 56px;
        }
        @include min(1600){
          width: 58px;
        }
        @include min(1900){
          width: 60px;
        }
      }
      i {
        color: #6f4287;
      }
    }
    .dropdown-menu {
      min-width: 40px;
      width: auto;
      height: 50px;
      background: transparent;
      padding: 0;
      border: 0;
      .iconBox {
        background: $primaryColor;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        box-shadow: 0px 2px 10px 2px rgba(56, 52, 52, 0.2);
        text-decoration: none;
        i {
          color: #ffffff;
          font-size: 18px;
        }
        &:hover {
          background: #0a1821;
        }
      }
      &.show {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 5px;
      }
    }
    .QuickSideRightBar {
      position: relative;
      .iconBox {
        box-shadow: 0px 15px 15px 0px rgba(106, 40, 117, 0.15);
        background: $primaryColor;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0px;
      }
      .slideLeft {
        box-shadow: 0px 15px 15px 0px rgba(106, 40, 117, 0.15);
        position: absolute;
        background: $primaryColor;
        width: 0;
        height: 50px;
        right: 0;
        top: 0px;
        font-size: 13px;
        line-height: 40px;
        color: $black;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        z-index: -1;
        opacity: 0;
        overflow: hidden;
        transition: ease-in-out 0.5s;
        border-radius: 30px;
        .textRight {
          position: absolute;
          left: 12px;
          top: 0;
          font-size: 17px;

          color: #ffffff;
          font-family: "Roboto", sans-serif;
          display: flex;
          align-items: center;
          height: 100%;
          padding-left: 10px;
        }
      }
      &:hover {
        .slideLeft {
          opacity: 1;
          transition: 0.3s ease-in-out;
          width: 190px;
        
        }
      }
    }
    .animateBox {
      animation: animate2 2s linear infinite;
    }
  }








.bottomFixedMenu {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    border-radius: 10px 10px 0px 0px;
    padding: 12px 0px;
    overflow: hidden;
    background:  $primaryColor;

    ul{
        list-style: none;
    }
    span{
        color: $white;
        display: block;
        line-height: 12px;
        @include max(575){
            font-size: 12px;
        }
    }
    li{
        display: flex;
        width: 33.3%;
    justify-content: center;
    border-right: 1px solid #ffffff61;
       a,button{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
       }
    }
}




