.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  width: 100%;
  height: 100% ;
}

.jq-star:hover .fs-star-svg polygon {
}

.jq-star-svg polygon {
  // stroke: #000;
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow( -2px -2px 2px #888 );
  filter: drop-shadow( -2px -2px 2px #888 );
}
.my-rating-readonly {
  display: flex;
  gap: 8px;
  @include min(768){
    gap: 5.5px;
  }
  @include min(992){
    gap: 8.5px;
  }
  @include min(1200){
    gap: 10.5px;
  }
}
.jq-star {
  width:15px!important;
}
@include min(768){
  .jq-star {
    width:11px!important;
  }
}
@include min(992){
  .jq-star {
    width:12px!important;
  }
}
@include min(1200){
  .jq-star {
    width:13px!important;
  }
}
@include min(1280){
  .jq-star {
    width:14px!important;
  }
}
@include min(1360){
  .jq-star {
    width:15px!important;
  }
}
@include min(1440){
  .jq-star {
    width:16px!important;
  }
}
@include min(1600){
  .jq-star {
    width:17px!important;
  }
}
@include min(1900){
  .jq-star {
    width:18px!important;
  }
}