// Colors
$primaryColor:           #2E3192 !default;
$primaryColorDark:           #0A0C5F !default;
$primaryLight:           #E2E2F0 !default;
$secondaryColor:         #D6DFFA !default;
$thirdColor:             #111722 !default;
$secondaryColorLight:    rgba(120, 187, 96, 0.50) !default;


$grey: rgba(217, 217, 217, 0.26)!default;
$lavender:                  #A5A5DF !default;
$white:                  #fff !default;
$black:                  #000;
$red:                    #F1582C;
$yellow:                 #E2FF06 !default;

$accentColorLight:           #818DA6 !default;
$accentColor:            #596075 !default;
$headingColor:           #414A66 !default;

// Shadows

// Alert Colors
$success:     #28a745 !default;
$info:        #17a2b8 !default;
$warning:     #ffc107 !default;
$danger:      #dc3545 !default;

// Typography
$primary-font:           "Inter", sans-serif !default;


