.not-found{
    padding-top:56px;
    img{
        margin-bottom: 46px;
        @include max(575){
            width: 70%;
            margin: auto;
                    margin-bottom: 20px;
        }
    }
    span{
        line-height: normal;
        font-weight: 400;
        font-size: 22px;
        @include min(768){
            font-size: 24px;
        }
        @include min(992){
            font-size: 28px;
        }
        @include min(1200){
            font-size: 30px;
        }
        @include min(1280){
            font-size: 32px;
        }
        @include min(1440){
            font-size: 34px;
        }
    }
    h1,span{
        color: $headingColor;
    }
    p{
        color: #596075;
        margin-bottom: 20px;
        @include min(768){
            margin-bottom: 28px;

        }
        @include min(1200){
            margin-bottom: 34px;

        }
        @include min(1440){
            margin-bottom: 39px;

        }
       + .d-flex{
        gap: 12px;
       }

    }
    h1{
        font-weight: 600;
        line-height: normal;
        font-size:30px;
        @include min(768){
            font-size: 35px;
        }
        @include min(992){
            font-size: 40px;
        }
        @include min(1200){
            font-size: 44px;
        }
        @include min(1350){
            font-size: 48px;
        }
        @include min(1440){
            font-size: 52px;
        }
    }
}