.offcanvas{
    width: 100%;
    z-index: 9999999;
}
.searchOffcanvas {
    height: fit-content;
    .offcanvas-header{
        background: #ebe5f0;
     @include min(992){
        padding:12px 60px;
     }
     @include min(1200){
        padding: 15px 70px;
     }
     @include min(1600){
        padding: 20px 100px;
     }
    }
    .searchButton{

        height: 100%;
        display: block;
        padding: 0px 20px;
        border-radius: 5px;

    }
    .search {
        background: $primaryColor;
        border-radius: 5px;

        display: flex;
        align-items: center;
    }
    div#searchOffcanvasLabel {
        width: 95%;
    }
    input{
        border: unset;
        border-radius: 5px 0px 0px 5px;
        height: 50px;
        padding-left: 20px;
        color: $primaryColor;
    }
    .btn-close {
        &:focus{
            box-shadow: unset;
        }
    }
}
.mobile_left_menu {
        min-height: 100vh;
        height: fit-content;

    border-radius: 0px 0px 16px 16px;
    background: #f9faff;
    box-shadow: 0px 2px 4px 0px rgba(22, 40, 2, 0.10);
    backdrop-filter: blur(40px);
    @include min(768){
    
    width: 25%;
  

    }
    nav {
        padding-left: 20px;
         a{
            color: $accentColor;
            font-weight: 400;
         }
    }

    @include max(575){
        nav {
            height: 380px;
            align-items: flex-start;
        }
    }
    li.has-sub > ul {
        padding-left: 25px;
        margin-bottom: 20px;
    }
    ul{
        width: 100%;
    }
    .social {
        position: absolute;
        bottom: 30px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        .btn{
            width: 100%;
            color: $white;
            font-weight: 600;
            padding: 8px 0px;
            margin-bottom: 15px;
           
            &:last-child{
                border: 1px solid $white;
                &:hover{
                    background-color: $secondaryColor;
                    border-color:$secondaryColor ;
                }
            }
        }
    }
    .social ul {
        display: flex;
        justify-content: space-between;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $white;
            font-size: 13px;
            gap: 5px;

        }
        svg{
            width: 22px;
    height: auto;
        }
    }
    // opacity: 0;
    // transition: 0.3s ease all;
    &.show{
        // transition: 0.5s ease all;
        // opacity: 1;
    }
    .offcanvas-header{
        div{
            display: flex;
            align-items: center;
            gap: 39px;
            padding-right: 5px;
    
            @include min(768){
                gap: 34px;
            }
        }
    }
    .btn-close{
            filter: invert(0);
        opacity: 1;
        width: 26px;
        height: 26px;
        path{
            fill: $white;
            stroke: $white;
        }
    }

    
    ul {
        // padding-left: 20px;
        li{
            margin-bottom: 5px;
            a{
                font-size: 16px;
            }
        }
    }
     .btn-close {
        margin-right: 0;
    }
    .offcanvas-header{
        padding-bottom: 0;
    }
}